<div class='container-field my-4'>
  <div class='row mx-4'>
    <div class='col-md-2'>
    <table border="1" width="150" height="180">
      <tr align="center">
        <th>ジャンル検索</th>
      </tr>
      <tr>
        <td>
          <% @genres.each do |genre| %>
            <%= genre.name %><br />
          <% end %>
        </td>
      </tr>
    </table>
    </div>
    <div class='col-md-10'>
      <div class='row'>
        <div class='col-md-'>
        <span style="font-size:30px">商品一覧</span>
        <span style="font-size:20px">（全<%= @product_all.count %>件）</span>
        <p></p>
        </div>
      </div>
      <div class='row'>
        <% @products.each do |product| %>
          <div class='col-md-3'>
            <p><%= attachment_image_tag product, :image, size: "270x200", fallback: "logo.png" %></p>
            <p><%= link_to product.name, product_path(product.id), class: "product_#{product.id}" %></p>
            <p>¥<%= product.add_tax_price.to_s(:delimited) %></p>
          </div>
        <% end %>
      </div>
      <ul class="pagination justify-content-center">
        <%= paginate @products %>
      </ul>
    </div>
  </div>
</div>