<% flash.each do |key, value| %>
    <p class="alert alert-<%= key %>">
      <%= value %>
    </p>
  <% end %>

<div class='container'>
  <div class='row'>
    <div class='col-md-1'>
    <table border="1" width="150">
      <tr align="center">
        <th>ジャンル検索</th>
      </tr>
      <tr>
        <td>
          <% @genres.each do |genre| %>
            <%= genre.name %><br />
          <% end %>
        </td>
      </tr>
    </table>
    </div>
    <div class='col-md-8 offset-md-1'>
      <div class='row'>
      <p>
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトとなります。<br>
        会員ではない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要となります。
      </p>
      </div>
      <div class='row'>
      <h4 class="mt-1 mb-1">
        新着商品
      </h4>
      </div>
      <div class='row'>
      <% @products.each do |product| %>
      <div class='col-md-3'>
        <p><%= attachment_image_tag product, :image, size: "200x200", fallback: "logo.png" %></p>
        <p><%= link_to product.name, product_path(product.id), class: "product_#{product.id}" %></p>
        <p>¥<%= product.add_tax_price.to_s(:delimited) %></p>
      </div>
      <% end %>
      <%= link_to "全ての商品を見る >", products_path %>
    </div>
  </div>
</div>