<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class=>
        <div class=>
          <span></span>
          <div class=>
            <ul>
            <% if member_signed_in? %>
              <li><%= link_to 'マイページ', member_path(current_member) %></li>
              <li><%= link_to '商品一覧', products_path %></li>
              <li><%= link_to 'カート', cart_items_path %></li>
              <li><%= link_to 'ログアウト', destroy_member_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'About', about_path %></li>
              <li><%= link_to '商品一覧', products_path %></li>
              <li><%= link_to '新規登録', new_member_registration_path %></li>
              <li><%= link_to 'ログイン', new_member_session_path %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
